common:
	parameters:

	php:
		date.timezone: Europe/Prague
		# zlib.output_compression: yes

	nette:
		application:
			errorPresenter: Error

		database:
			host: 127.0.0.1
			username: change
			password: change
			database: change
			lazy: FALSE

	includes:
		- factories.neon
		- services.neon
		- forms.neon
		- model.dao.neon
		- model.service.neon
		- components.neon

		session:
			expiration: 14 days

production < common:

development < common:
